#requireResource("confluence.web.resources:jquery")
#requireResource("confluence.extra.webdav:webdav-config-resources")

<html>
	<head>
		<title>$action.getText("webdav.config.title")</title>
        <content tag="selectedWebItem">webdavconfig</content>
	</head>
	<body>
        #parse ( "/template/includes/actionmessages.vm" )
        
        #parse ( "/template/includes/actionerrors.vm" )

        <fieldset class="hidden plugin_webdav_config">
            <input type="hidden" name="i18n-blankregex" value="$action.getText('webdav.config.denywrite.blankregex')" />
            <input type="hidden" name="i18n-duplicateregex" value="$action.getText('webdav.config.denywrite.duplicateregex')" />
        </fieldset>

        <form method="POST" name="webdavSettings" action="${req.contextPath}/admin/plugins/webdav/doconfig.action">
            #form_xsrfToken
            <input type="hidden" name="hiddenOptionsEnabled" value="$action.hiddenOptionsEnabled" />

            <div>
                <h2>$action.getText("webdav.config.denywrite.heading")</h2>
                <p>$action.getText("webdav.config.denywrite.description")</p>
                #fielderror ("denyRegexes")
                <p>
                    <input type="text" name="deniedClientRegex" value="" size="30" />
                    <input type="button" name="addDeniedClientRegexButton" value="$action.getText('webdav.config.denywrite.addbutton')" />
                    <br />
                    <select name="denyRegexes" multiple="multiple" style="display: none;"></select>
                    <select name="denyRegexesContainer" multiple="multiple" size="5" style="width: 300px;">
                        #foreach ( $regex in $action.denyRegexes )
                            <option value="$generalUtil.htmlEncode( $regex )">$generalUtil.htmlEncode( $regex )</option>
                        #end
                    </select>
                    <input type="button" name="removeDeniedClientRegexButton" value="$action.getText('webdav.config.denywrite.removebutton')" />
                </p>
            </div>

            <div>
                <h2>$action.getText("webdav.config.disablestrictpathcheck.heading")</h2>
                <p>$action.getText("webdav.config.disablestrictpathcheck.description")</p>
                <p>
                    $action.getText("webdav.config.disablestrictpathcheck.label") : <input type="checkbox" name="disableStrictPathCheck" value="true" #if ($action.disableStrictPathCheck) checked="checked"#end>
                </p>
            </div>

            <div #if ( !$action.hiddenOptionsEnabled ) style="display: none;" #end>
                <h2>$action.getText("webdav.config.resource.virtual.heading")</h2>
                <p>$action.getText("webdav.config.resource.virtual.description")</p>
                <table class="confluenceTable">
                    <thead>
                        <tr>
                            <th class="confluenceTh">$action.getText("webdav.config.resource.virtual.page.url")</th>
                            <th class="confluenceTh">$action.getText("webdav.config.resource.virtual.page.exports")</th>
                            <th class="confluenceTh">$action.getText("webdav.config.resource.virtual.page.versions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="confluenceTd"><input type="checkbox" name="contentUrlResourceEnabled" #if ( $action.contentUrlResourceEnabled ) checked="checked" #end value="true" /></td>
                            <td class="confluenceTd"><input type="checkbox" name="contentExportsResourceEnabled" #if ( $action.contentExportsResourceEnabled ) checked="checked" #end value="true" /></td>
                            <td class="confluenceTd"><input type="checkbox" name="contentVersionsResourceEnabled" #if ( $action.contentVersionsResourceEnabled ) checked="checked" #end value="true" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <input type="submit" name="save" value="$action.getText('webdav.config.save')" />
        </form>
        #parse ( "/admin/admin-breadcrumbs.vm" )
	</body>
</html>
